<div
  class="container"
  *ngIf="loaded; else notLoaded"
  style="padding: 1em; padding-top: 10em; max-width: 70%; "
>
  <div class="row">
    <todo-formly (newLabelEvent)="addTodo($event)"></todo-formly>
  </div>
  <br />
  <mat-divider></mat-divider>
  <br />

  <!-- Formulaire classique décommenter materialize dans index.html -->
  <!--  <div class="row">
    <todo-form (newLabelEvent)="addTodo($event)"></todo-form>
  </div> -->
  <div class="container">
    <div *ngFor="let todo of todos" style="width: 50%; margin: 0 auto;">
      <todo-item
        [todo]="todo"
        (updateLabelEvent)="updateTodo($event)"
        (deleteTodoEvent)="deleteTodo($event)"
      ></todo-item>
    </div>
  </div>
</div>
<ng-template #notLoaded>
  <div class="container" style="text-align: center; padding: 20%;">
    <p
      style="font-family: 'Roboto Mono', monospace; font-size: x-large; font-wheight: bold;"
    >
      fetching todos...
    </p>
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
