<mat-card
  class="example-card purple undone"
  [ngClass]="{
    done: todo.done,
    ' darken-3  white-text': !todo.done
  }"
>
  <mat-card-header>
    <mat-card-title
      ><div class="" style="font-size: small; opacity: 0.5;">
        {{ todo.creationDate | customDate: true }}
      </div></mat-card-title
    >
    <mat-card-subtitle>
      <div *ngIf="editMode; else elseBlock">
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Change label</mat-label>
            <input
              matInput
              type="text"
              name="label"
              [(ngModel)]="todo.label"
              (keyup.enter)="updateLabel()"
            />
          </mat-form-field>
        </div>
      </div>
      <ng-template #elseBlock>
        <span style="font-size: large"> {{ todo.label }} </span>
        <i class="material-icons right" id="delete" (click)="delete()"
          >delete</i
        >
        <i class="material-icons right" id="update" (click)="changeEditMode()"
          >edit</i
        >
      </ng-template>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button (click)="changeItemState()">
      {{ todo.done ? 'To do' : 'Done' }}
    </button>
  </mat-card-actions>
</mat-card>
