a {
  cursor: pointer;
}

.material-icons {
  cursor: pointer;
}

#update:hover {
  color: orange;
}

#delete:hover {
  color: rgb(192, 34, 34);
}

.example-card {
  max-width: 400px;
  margin-bottom: 8px;
}

.undone {
  background-color: white;
  color: black;
}

.done {
  background-color: grey;
  color: white;
}
